.navbar-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 20vh;
  align-items: center;

  @include tablet{
    flex-direction: row-reverse;

    .navbar-container_links{
      display: none;
    }
  }

  .navbar-container_burguer{
    display: none;
    @include tablet {
      display: block;
    }
  }

  h1 {
    color: $color4;
    font-size: 4rem;
    &:hover {
      cursor: pointer;
    }
  }

}
