
footer{
    height: 50px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


    .footerContainer {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 5rem;
  
    .glass {
      position: relative;
      width: 110px;
      height: 130px;
      background: linear-gradient(#fff2, transparent);
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      border-radius: 10px;
      margin: 0 -45px;
      backdrop-filter: blur(10px);
      transform: rotate(calc(var(--r) * 1deg));
  
      &:hover {
        transform: rotate(0deg);
        margin: 0 10px;
        cursor: pointer;
      }
  
      &::before {
        content: attr(data-text);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        background: rgba(255, 255, 255, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
  
      svg {
        font-size: 2.5em;
        fill: #fff;
      }
    }
  }
  
}
