.homeTitle{
    width: 100%;
    text-align: center;
    margin: 1rem 0 1rem 0;

    h2{
    color: $color2;
    font-weight: 700;
    font-size: 3.5rem;
    filter: drop-shadow(3px 2px 1px black);
    }
}
