.taskList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
    min-height: 25vh;

    @include movil{
        min-height: 20vh;
    }
}