.guide {
  padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
  
    .guide_card {
      position: relative;
      width: 450px;
      aspect-ratio: 16/9;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
      }
  
     
        .guide_card:hover & {
          transform: rotateX(0deg);
        }
      }
  
  }
  