//global colors
$color1 : #003C43;
$color2: #135D66;
$color3: #77B0AA;
$color4: #E3FEF7;



//pages
@import './pages/about.scss';
@import './pages/guide.scss';
@import './pages/components/comments';



//components
@import './components/navbar';
@import './components/footer';
@import './todo/components/penddingTask';
@import './todo/todoTask';
@import './todo/components/taskList';
@import './todo/components/taskItem';